<div class="nickname-container">
	<div class="create-room">
		<h3 class="heading">Choose Character, Talk Passion</h3>
		<div class="character-input">
			<input #nickname type="text" placeholder="Enter your Character" value="" required>
			<button (click)="createNickName(nickname.value)">Submit</button>
		</div>
	</div>
	<div *ngIf="accessRoomsList">
		<div class="rooms-list">
			<div *ngFor="let room of roomsList">
				<button (click)="accessRoom(room)">{{room}}</button>
			</div>
		</div>
	</div>
</div>